<div class="relative;">
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide"> <%= image_tag "bottles.jpeg" %></div>
      <div class="swiper-slide"> <%= image_tag "capuccino.jpeg" %></div>
      <div class="swiper-slide"><%= image_tag "cocktails.jpeg" %></div>
      <div class="swiper-slide"><%= image_tag "cornetti.jpeg" %></div>
    </div>
    <div class="rhegion-background">
      <h1>RHEGION</h1>
    </div>
  </div>
  <div class="centered-text">
    <p><i>BAR, CAFFE, PASTICCERIA, GELATERIA</i></p>
  </div>
</div>

<div class="cont heading">
  <h1>BAR, CAFFE, PASTICCERIA, GELATERIA 7/7 ROMA</h1>
</div>

<div class="cont desc">
  <p style="font-size:16px !important;">Il RHEGION offre il miglior servizio ai romani e a tutti i visitatori di terre lontane!</p>
  <p style="font-size:16px !important;">In una delle strade più frequentate di Roma, il Rhegion offre un'ampia selezione di pasticcini, torte, caffè e bevande che rispettano la tradizione italiana, pur mantenendosi all'avanguardia con proposte contemporanee per soddisfare i palati più esigenti dei visitatori della capitale.</p>
</div>

<div class="cont card-cont" >
  <div class="card1">
    <div class="card-cont">
      <h2>Pasticcini</h2>
      <a href="#pasticcini" class="arrow" >
        <i class="bi bi-arrow-right"></i>
      </a>
    </div>
    <div class="card-image-cont">
      <a href="/"><%= image_tag "pasticcini.jpeg", class:"home-img" %></a>
    </div>
  </div>
  <div class="card2">
    <div class="card-cont">
      <h2>Bevande</h2>
      <a href="#bevande" class="arrow" >
        <i class="bi bi-arrow-right"></i>
      </a>
    </div>
    <div class="card-image-cont">
      <a href="/"><%= image_tag "drinks.jpeg", class:"home-img" %></a>
    </div>
  </div>
  <div class="card3">
    <div class="card-cont">
      <h2>Eventi</h2>
      <a href="#eventi" class="arrow" >
        <i class="bi bi-arrow-right"></i>
      </a>
    </div>
    <div class="card-image-cont">
      <a href="/"><%= image_tag "pandoro.jpeg", class:"home-img" %></a>
    </div>
  </div>
</div>

<div class="social-cont">
  <h2>Social</h2>
  <div class="icon-cont">
    <a href="https://www.instagram.com/rhegion_bar_/" class="m-r-20">
      <i class="bi bi-instagram white"></i>
    </a>
    <a href="https://www.facebook.com/pages/Rhegion%20Cafe/286774311932310/" >
      <i class="bi bi-facebook white"></i>
    </a>
  </div>
</div>

<div class="contact">
  <div id="map" class="map-home item"></div>
  <div class="m-t-45 item">
    <h2>Contatti</h2>
    <p>Via Oderisi da Gubbio 201, 00146 Roma <br>
    Italia</p>
    <p>Telefono: <br>
    +39 06 4368 9678</p>
    <p>Email: <br>
    rhegion.caffe@hotmail.com</p>
  </div>
</div>

<div class="footer-home">
  <div class="footer-content">
    <p>Sito realizzato da ® <a href="https://www.albertnikolli.com">Albert Nikolli</a></p>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
  var swiper = new Swiper(".mySwiper", {
    spaceBetween: 30,
    centeredSlides: true,
    autoplay: {
      delay: 4000,
      disableOnInteraction: false,
    },
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>
