<!DOCTYPE html>
<html>
  <head>
    <title>Rhegion</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>



    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <style>
      html{
        position: relative;
        height: 100%;
      }

      /* Set the size of the div element that contains the map */
      #map {
          height: 400px; /* The height is 400 pixels */
          width: 100%; /* The width is the width of the web page */
          margin-top: 150px;
      }

    </style>
    <script>
      function initMap() {
        let rhegion = {lat: 41.86386715336272, lng: 12.46471425396899};
        let map = new google.maps.Map(
          document.getElementById('map'), {
          zoom: 18,
          center: rhegion
        });
        let marker = new google.maps.Marker({
          position: rhegion,
          map: map
        });
      }
    </script>
  </head>

  <body>
  <!-- Loading animation -->
  <!--
    <div id="loading-overlay">
      <%= image_tag "Rhegion.png" %>
      <div class="spinner">
      </div>
    </div>
  -->

    <nav class="navbar">
      <div class="container">
        <div>
          <p>Tutti i giorni dalle<br> 06:00 - 02:00</p>
        </div>
        <%= image_tag "Rhegion.png", width:"170", class:"navbar-logo" %>
        <div id="main" >
          <svg xmlns="http://www.w3.org/2000/svg" id="b032a4a6-eb1b-4c0e-b99c-d687dcadd10e" data-name="Layer 1" width="41.3999" height="23.6001" viewBox="0 0 41.3999 23.6001" onclick="openNav()" >
            <rect width="41.3999" height="2"></rect><rect x="21.6001" y="10.8003" width="19.7998" height="2"></rect>
            <rect x="32.3999" y="21.6001" width="9" height="2"></rect>
          </svg>
        </div>
        <div id="mySidenav" class="sidenav">
          <header>Benvenuti</header>
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
          <a href="/">Home</a>
          <a href="about">Chi siamo</a>
          <a href="contact">Contatti</a>
        </div>

      </div>
    </nav>
      <div>
        <%= yield %>
      </div>
    </div>


    <%# script to load google map %>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&callback=initMap" ></script>

    <%# script to have the loader at first %>
    <%# <script>
      document.addEventListener('DOMContentLoaded', function() {
        // Delay hiding loading overlay and showing content for 4 seconds
        setTimeout(function() {
          document.getElementById('loading-overlay').style.display = 'none';
          document.getElementById('content').style.display = 'block';
        }, 2000); // Delay for 4 seconds (4000 milliseconds)
      });
    </script> %>

    <%# script for the slideshow %>
    <script>
      function openNav() {
        document.getElementById("mySidenav").style.width = "550px";
        document.getElementById("main").style.marginLeft = "250px";
      }

      function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main").style.marginLeft= "0";
      }
    </script>

  </body>
</html>
